@charset "UTF-8";
/* Default values */
/* Blocks*/
/* 谨以此配色“致敬”二柱子 */
/* content */
/* #141414 */
/* block */
html, body {
  color: #040818;
  background-color: #f8f9fd;
  letter-spacing: 0.1px;
  font-size: 15px;
}

.sidebar.sidebar-quic {
  color: #f8f9fd;
  background-color: #030616;
}

.content {
  position: inherit;
}

body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  background: #0d0d28;
  width: 4px;
}

body::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background: #f8f9fd;
}

body::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  background: #0d0d28;
}

/* Sidebar */
.sidebar a, .sidebar a:hover, .sidebar a:visited {
  text-decoration: none;
  color: #f8f9fd;
}
.sidebar a:hover {
  text-decoration: none;
  color: gray;
}

section.page h1, section.page h2, section.page h3, section.page h4 {
  text-shadow: 2px 4px 5px snow;
  border-color: #030616;
}
section.page h1 a, section.page h1 a:hover, section.page h1 a:visited, section.page h2 a, section.page h2 a:hover, section.page h2 a:visited, section.page h3 a, section.page h3 a:hover, section.page h3 a:visited, section.page h4 a, section.page h4 a:hover, section.page h4 a:visited {
  color: #0b0b4d;
}
section.page a, section.page a:hover, section.page a:visited {
  color: #0b0b4d;
}
section.page table, section.page th, section.page td {
  border: solid #030616;
}

.content code {
  background: snow;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.content em strong {
  text-shadow: 2px 2px 2px #0d0d28;
  color: #030616;
}
.content strong {
  text-shadow: 0 0 7px #0d0d28;
  color: #030616;
}
.content blockquote {
  border-left: 0.7em groove dimgray;
  background: transparent;
}

.block {
  margin: 1em 0em 1em 0em;
  padding: 0 4px 4px 4px;
  border-top: 33px solid;
  position: relative;
  overflow-wrap: break-word;
  display: block;
  z-index: -1;
  /* to ensure under sidebar */
  background-color: grey;
  color: snow;
}
.block:before {
  position: absolute;
  top: -24px;
  left: 12px;
  color: snow;
}
.block.ref {
  display: inline-block;
  margin: 1em 0em 1em 1em;
  padding: 1em;
  max-width: 800px;
  position: relative;
  overflow-wrap: break-word;
  border-top: 0px solid;
  background: #121212;
  color: snow;
  border-radius: 2px;
}
.block.ref:before {
  position: absolute;
  top: 0px;
  left: 10px;
}
.block.ref pre {
  margin: 0 0 0 0;
}
.block.ref p {
  margin: 10px 0 0 0;
}
.block.ref code {
  background: #121212;
  color: snow;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.block.ref a, .block.ref a:hover, .block.ref a:visited {
  color: snow;
}
.block.ref table, .block.ref th, .block.ref td {
  border: 1px solid #f8f9fd;
}
.block.ref strong {
  color: snow;
  text-shadow: 1px 1px 1px lightgray;
}
.block.tip {
  background: #454849;
  border-top-color: #284750;
}
.block.tip:before {
  content: "Tip";
  color: snow;
}
.block.note {
  background: #454b5e;
  border-top-color: #070d1d;
}
.block.note:before {
  content: "Note";
  color: snow;
}
.block.info {
  background: #2b2520;
  border-top-color: #271200;
}
.block.info:before {
  content: "Info";
  color: snow;
}
.block.warn {
  background: #533f3f;
  border-top-color: #270000;
}
.block.warn:before {
  content: "Warn";
  color: snow;
}

/*# sourceMappingURL=AutumnQuic.css.map */
