$tip_border_top_colour: #255464;
$tip_background: #1cceff;
$note_border_top_colour: #1f388a;
$note_background: #99b4ff;
$info_border_top_colour: #6d401b;
$info_background: #ffb26f;
$warn_border_top_colour: #720000;
$warn_background: #ffb0b0;
