html, body {
    color: $body_colour;
    background-color: $body_backgroud_colour;
    letter-spacing: 0.1px;
    font-size: $body_font_size;
}

.sidebar.sidebar-quic {
    color: $sidebar_colour;
    background-color: $sidebar_background_colour;
}

.content {
    position: inherit;
}

body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
    background: $scrollbar_colour;
    width: 4px;
}

body::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
    background: $scrollbar_thumb_colour;
}

body::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
    background: $scrollbar_track_colour;
}

/* Sidebar */
.sidebar {
    a, a:hover, a:visited {
        text-decoration: none;
        color: $sidebar_colour;
    }
    a:hover {
        text-decoration: none;
        color: $sidebar_a_hover_colour;
    }
}

section.page {
    h1, h2, h3, h4 {
        text-shadow: $header_text_shadow;
        border-color: $header_border_colour;
        a, a:hover, a:visited {
            color: $header_a_colour;
        }
    }
    a, a:hover, a:visited {
        color: $header_a_colour;
    }
    table, th, td {
        border: $page_table_border;
    }
}

.content {
    code {
        background: $content_code_background;
        -webkit-box-shadow: $code_webkit_box_shadow;
        -moz-box-shadow: $code_moz_box_shadow;
        box-shadow: $code_box_shadow;
    }
    em strong {
        text-shadow: $content_em_strong_text_shadow;
        color: $content_em_strong_colour;
    }
    strong {
        text-shadow: $content_strong_text_shadow;
        color: $content_strong_colour;
    }
}



.block {
    margin: 1em 0em 1em 0em;
    padding: 0 4px 4px 4px;
    border-top: 33px solid;
    position: relative;
    overflow-wrap: break-word;
    display: block;
    z-index: -1; /* to ensure under sidebar */
    background-color: $block_backgroud_colour;
    color: $block_colour;
    &:before {
        position: absolute;
        top: -24px;
        left: 12px;
        color: $block_colour;
    }
    &.ref {
        display: inline-block;
        margin: 1em 0em 1em 1em;
        padding: 1em;
        max-width: 800px;
        position: relative;
        overflow-wrap: break-word;
        border-top: 0px solid;
        background: $ref_background;
        color: $ref_colour;
        border-radius: 2px;
        &:before {
            position: absolute;
            top: 0px;
            left: 10px;
        }
        pre {
            margin: 0 0 0 0;
        }
        p {
            margin: 10px 0 0 0;
        }
        code {
            background: $ref_background;
            color: $ref_code_colour;
            -webkit-box-shadow: $ref_code_webkit_box_shadow;
        }
        a, a:hover, a:visited {
            color: $ref_colour;
        }
        table, th, td {
            border: $ref_table_border;
        }
    }

    &.tip {
        &:before {
            content: "Tip";
            color: snow;
        }
        background: $tip_background;
        border-top-color: $tip_border_top_colour;
    }
    &.note {
        &:before {
            content: "Note";
            color: snow;
        }
        background: $note_background;
        border-top-color: $note_border_top_colour;
    }
    &.info {
        &:before {
            content: "Info";
            color: snow;
        }
        background: $info_background;
        border-top-color: $info_border_top_colour;
    }
    &.warn {
        &:before {
            content: "Warn";
            color: snow;
        }
        background: $warn_background;
        border-top-color: $warn_border_top_colour;
    }
}
