[submodule "themes/kraiklyn"]
	path = themes/kraiklyn
	url = git@github.com:jsnjack/kraiklyn.git
[submodule "content/Translation_Norms"]
	path = content/Translation_Norms
	url = git@github.com:fangqiuhang/Translation_Norms.git
[submodule "content/RFC8999_Chinese_Simplified"]
	path = content/RFC8999_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC8999_Chinese_Simplified.git
	branch = main
[submodule "content/RFC9000_Chinese_Simplified"]
	path = content/RFC9000_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9000_Chinese_Simplified.git
[submodule "content/RFC9001_Chinese_Simplified"]
	path = content/RFC9001_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9001_Chinese_Simplified.git
[submodule "content/RFC9002_Chinese_Simplified"]
	path = content/RFC9002_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9002_Chinese_Simplified.git
[submodule "content/RFC9114_Chinese_Simplified"]
	path = content/RFC9114_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9114_Chinese_Simplified.git
[submodule "content/RFC9204_Chinese_Simplified"]
	path = content/RFC9204_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9204_Chinese_Simplified.git
[submodule "content/RFC9220_Chinese_Simplified"]
	path = content/RFC9220_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9220_Chinese_Simplified.git
[submodule "content/RFC9221_Chinese_Simplified"]
	path = content/RFC9221_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9221_Chinese_Simplified.git
[submodule "content/RFC9250_Chinese_Simplified"]
	path = content/RFC9250_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9250_Chinese_Simplified.git
[submodule "content/RFC9368_Chinese_Simplified"]
	path = content/RFC9368_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9368_Chinese_Simplified.git
[submodule "content/RFC9369_Chinese_Simplified"]
	path = content/RFC9369_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9369_Chinese_Simplified.git
[submodule "content/RFC9412_Chinese_Simplified"]
	path = content/RFC9412_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9412_Chinese_Simplified.git
[submodule "content/RFC9443_Chinese_Simplified"]
	path = content/RFC9443_Chinese_Simplified
	url = git@github.com:AutumnQuicHe/RFC9443_Chinese_Simplified.git
