html, body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  font-size: 15px;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5, h6 {
  font-size: 17px;
}

dt {
  break-before: auto;
  break-after: avoid-page;
}

@media (min-width: 48em) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 58em) {
  html {
    font-size: 15px;
  }
}

/* Content */
@media (min-width: 48em) {
  .content {
    margin-left: 21rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 3rem;
  }
}

.content code,
.content em strong {
  border-radius: 2px;
}

.content code {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/* Sidebar */
.sidebar {
  overflow: auto;
  text-align: center;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 19rem;
    text-align: left;
  }
}

.site-title {
  margin-top: 0px;
  margin-bottom: 12px;
}

/* Scroll bar for sidebar and body */
body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 2px;
}

body::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
    border-radius: 2px;
}

.sidebar a:hover {
  color: dimgray;
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
}

.sidebar ul li {
  list-style: none;
  padding-left: 1.2em;
}

nav {
  margin: 1em 0 1em 0;
}

.sidebar .navigation {
  flex: 1 0 auto;
}

.sidebar .version {
  font-size: 80%;
  text-align: right;
  padding: 2px;
}

.sidebar .external-title {
  margin-top: 2em;
  text-align: center;
  font-size: 120%;
}

.sidebar nav.external {
  font-size: 80%;
}

/* Blocks */

/* References */
.out_ref {
  margin: 1em 0em 1em 0em;
  padding: 0 0 0 3px;
  border-top: 3px solid;
  position: relative;
  /*overflow-wrap: break-word;*/
}

.out_ref p {
  display: block;
  margin: 0em 0em 0em 0em;
}

/* Section of the page */
section.page {
  margin-bottom: 2em;
}

section.page h1 {
  border-left-width: 4px;
  border-left-style: groove;
  padding-left: 0.5em;
  margin-bottom: 0;
}

section.page h2 {
  border-left: 3px outset;
  padding-left: 0.6em;
  margin-bottom: 0;
}

section.page h3 {
  border-left: 2px ridge;
  padding-left: 0.7em;
  margin-bottom: 0;
}

section.page h4 {
  border-left: 1px solid;
  padding-left: 0.7em;
  margin-bottom: 0;
}

section.page blockquote {
  border-left: 0.7em groove;
  margin-inline-start: 0em;
  padding-left: 0.3em;
}

section.page .content {
  margin-left: 0.5em;
}

section.page h1 a, section.page h2 a, section.page h3 a, section.page h4 a,
section.page h1 a:hover, section.page h2 a:hover, section.page h3 a:hover, section.page h4 a:hover,
section.page h1 a:visited, section.page h2 a:visited, section.page h3 a:visited, section.page h4 a:visited {
  text-decoration: none;
}

section div pre {
  overflow: auto;
}

section code {
  background-color: #fafafa;
}

section img {
  max-width: 100%;
}

table {
    border-collapse: collapse;
}

table,th, td {
  border: 1px solid black;
}

td{
  padding: 5px;
}
