/* Default values */
/* Blocks*/
/* Matou Sakura */
/* content */
/* block */
html, body {
  color: #1e1828;
  background-color: #f8f8f0;
  letter-spacing: 0.1px;
  font-size: 15px;
}

.sidebar.sidebar-quic {
  color: #fdefd2;
  background-color: #715899;
}

.content {
  position: inherit;
}

body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  background: #1e1828;
  width: 4px;
}

body::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background: #f8f8f0;
}

body::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  background: #1e1828;
}

/* Sidebar */
.sidebar a, .sidebar a:hover, .sidebar a:visited {
  text-decoration: none;
  color: #fdefd2;
}
.sidebar a:hover {
  text-decoration: none;
  color: #f3ccc7;
}

section.page h1, section.page h2, section.page h3, section.page h4 {
  text-shadow: 2px 2px 5px #f3ccc7;
  border-color: #453563;
}
section.page h1 a, section.page h1 a:hover, section.page h1 a:visited, section.page h2 a, section.page h2 a:hover, section.page h2 a:visited, section.page h3 a, section.page h3 a:hover, section.page h3 a:visited, section.page h4 a, section.page h4 a:hover, section.page h4 a:visited {
  color: #715899;
}
section.page a, section.page a:hover, section.page a:visited {
  color: #715899;
}
section.page table, section.page th, section.page td {
  border: 1px solid #715899;
}

.content code {
  background: #f8f8f0;
  -webkit-box-shadow: inset 0 1px 10px #a04a6aa6, 0 1px 0 #c4bbbbcc, 0 -1px 0 #f3ccc7cc;
  -moz-box-shadow: inset 0 1px 10px #a04a6aa6, 0 1px 0 #c4bbbbcc, 0 -1px 0 #f3ccc7cc;
  box-shadow: inset 0 1px 10px #a04a6aa6, 0 1px 0 #c4bbbbcc, 0 -1px 0 #f3ccc7cc;
}
.content em strong {
  text-shadow: 1px 1px 2px #715899;
  color: #1e1828;
}
.content strong {
  text-shadow: 0 0 2px #715899;
  color: #453563;
}
.content blockquote {
  border-left: 0.7em groove dimgray;
  background: transparent;
}

.block {
  margin: 1em 0em 1em 0em;
  padding: 0 4px 4px 4px;
  border-top: 33px solid;
  position: relative;
  overflow-wrap: break-word;
  display: block;
  z-index: -1;
  /* to ensure under sidebar */
  background-color: #f8f8f0;
  color: #1e1828;
}
.block:before {
  position: absolute;
  top: -24px;
  left: 12px;
  color: #1e1828;
}
.block.ref {
  display: inline-block;
  margin: 1em 0em 1em 1em;
  padding: 1em;
  max-width: 800px;
  position: relative;
  overflow-wrap: break-word;
  border-top: 0px solid;
  background: #715899;
  color: #fdefd2;
  border-radius: 2px;
}
.block.ref:before {
  position: absolute;
  top: 0px;
  left: 10px;
}
.block.ref pre {
  margin: 0 0 0 0;
}
.block.ref p {
  margin: 10px 0 0 0;
}
.block.ref code {
  background: #715899;
  color: #fdefd2;
  -webkit-box-shadow: inset 0 1px 10px #e0dcdc4d, 0 1px 0 #ffffff1a, 0 -1px 0 #0000001a;
}
.block.ref a, .block.ref a:hover, .block.ref a:visited {
  color: #fdefd2;
}
.block.ref table, .block.ref th, .block.ref td {
  border: 1px solid #f8f8f0;
}
.block.ref strong {
  color: snow;
  text-shadow: 1px 1px 1px lightgray;
}
.block.tip {
  background: #1cceff;
  border-top-color: #255464;
}
.block.tip:before {
  content: "Tip";
  color: snow;
}
.block.note {
  background: #99b4ff;
  border-top-color: #1f388a;
}
.block.note:before {
  content: "Note";
  color: snow;
}
.block.info {
  background: #ffb26f;
  border-top-color: #6d401b;
}
.block.info:before {
  content: "Info";
  color: snow;
}
.block.warn {
  background: #ffb0b0;
  border-top-color: #720000;
}
.block.warn:before {
  content: "Warn";
  color: snow;
}

.sidebar.sidebar-rfc9312 {
  color: #fdefd2;
  background-color: #715899;
}

/*# sourceMappingURL=RFC9312.css.map */
