/* Blocks*/
/* Shokuhou Misaki */
/* f6e7c2, */
/* old #299c69*/
/* content */
/* block */
html, body {
  color: #cf9a61;
  background-color: #fbf2db;
  letter-spacing: 0.1px;
  font-size: 15px;
}

.sidebar.sidebar-quic {
  color: #2f2f2f;
  background-color: #cf9a61;
}

.content {
  position: inherit;
}

body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  background: #f1e4b9;
  width: 4px;
}

body::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background: #fbf2db;
}

body::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  background: #f1e4b9;
}

/* Sidebar */
.sidebar a, .sidebar a:hover, .sidebar a:visited {
  text-decoration: none;
  color: #2f2f2f;
}
.sidebar a:hover {
  text-decoration: none;
  color: gray;
}

section.page h1, section.page h2, section.page h3, section.page h4 {
  text-shadow: 2px 4px 5px #2f2f2f;
  border-color: #cf9a61;
}
section.page h1 a, section.page h1 a:hover, section.page h1 a:visited, section.page h2 a, section.page h2 a:hover, section.page h2 a:visited, section.page h3 a, section.page h3 a:hover, section.page h3 a:visited, section.page h4 a, section.page h4 a:hover, section.page h4 a:visited {
  color: #cf9a61;
}
section.page a, section.page a:hover, section.page a:visited {
  color: #cf9a61;
}
section.page table, section.page th, section.page td {
  border: 1px solid #cf9a61;
}

.content code {
  background: #fbf2db;
  -webkit-box-shadow: inset 0 1px 10px #b68d9e4d, 0 1px 0 #ffffff1a, 0 -1px 0 #0000001a;
  -moz-box-shadow: inset 0 1px 10px #0000004d, 0 1px 0 #ffffff1a, 0 -1px 0 #0000001a;
  box-shadow: inset 0 1px 10px #0000004d, 0 1px 0 #ffffff1a, 0 -1px 0 #0000001a;
}
.content em strong {
  text-shadow: 1px 1px 2px #f1e4b9;
  color: #cf9a61;
}
.content strong {
  text-shadow: 0 0 2px #f1e4b9;
  color: #cf9a61;
}

.block {
  margin: 1em 0em 1em 0em;
  padding: 0 4px 4px 4px;
  border-top: 33px solid;
  position: relative;
  overflow-wrap: break-word;
  display: block;
  z-index: -1;
  /* to ensure under sidebar */
  background-color: #f2f2f2;
  color: #f1e4b9;
}
.block:before {
  position: absolute;
  top: -24px;
  left: 12px;
  color: #f1e4b9;
}
.block.ref {
  margin: 1em 0em 1em 1em;
  padding: 3px 3px 3px 9px;
  max-width: 800px;
  position: relative;
  overflow-wrap: break-word;
  border-top: 0px solid;
  background: #cf9a61;
  color: #f2f2f2;
  border-radius: 2px;
}
.block.ref:before {
  position: absolute;
  top: 0px;
  left: 10px;
}
.block.ref pre {
  margin: 0 0 0 0;
}
.block.ref p {
  margin: 10px 0 0 0;
}
.block.ref code {
  background: #cf9a61;
  color: #f2f2f2;
  -webkit-box-shadow: inset 0 1px 10px #e0dcdc4d, 0 1px 0 #ffffff1a, 0 -1px 0 #0000001a;
}
.block.ref a, .block.ref a:hover, .block.ref a:visited {
  color: #f2f2f2;
}
.block.ref table, .block.ref th, .block.ref td {
  border: 1px solid #fbf2db;
}
.block.tip {
  background: #454849;
  border-top-color: #284750;
}
.block.tip:before {
  content: "Tip";
  color: snow;
}
.block.note {
  background: #454b5e;
  border-top-color: #070d1d;
}
.block.note:before {
  content: "Note";
  color: snow;
}
.block.info {
  background: #2b2520;
  border-top-color: #271200;
}
.block.info:before {
  content: "Info";
  color: snow;
}
.block.warn {
  background: #533f3f;
  border-top-color: #270000;
}
.block.warn:before {
  content: "Warn";
  color: snow;
}

.sidebar.sidebar-rfc9250 {
  color: #2f2f2f;
  background-color: #cf9a61;
}

/*# sourceMappingURL=RFC9250.css.map */
