/* Default values */
/* Blocks*/
/* Akeginu */
/* content */
/* block */
html, body {
  color: #331f3e;
  background-color: #fee7e3;
  letter-spacing: 0.1px;
  font-size: 15px;
}

.sidebar.sidebar-quic {
  color: #fee7e3;
  background-color: #af393d;
}

.content {
  position: inherit;
}

body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  background: #af393d;
  width: 4px;
}

body::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background: #fee7e3;
}

body::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  background: #af393d;
}

/* Sidebar */
.sidebar a, .sidebar a:hover, .sidebar a:visited {
  text-decoration: none;
  color: #fee7e3;
}
.sidebar a:hover {
  text-decoration: none;
  color: #d3a6aa;
}

section.page h1, section.page h2, section.page h3, section.page h4 {
  text-shadow: 2px 4px 5px #d3a6aa;
  border-color: #be094f;
}
section.page h1 a, section.page h1 a:hover, section.page h1 a:visited, section.page h2 a, section.page h2 a:hover, section.page h2 a:visited, section.page h3 a, section.page h3 a:hover, section.page h3 a:visited, section.page h4 a, section.page h4 a:hover, section.page h4 a:visited {
  color: #be094f;
}
section.page a, section.page a:hover, section.page a:visited {
  color: #be094f;
}
section.page table, section.page th, section.page td {
  border: 1px solid #331f3e;
}

.content code {
  background: #fee7e3;
  -webkit-box-shadow: inset 0 1px 10px #af393d, 0 1px 0 #dcc9c21a, 0 -1px 0 #f1e4b91a;
  -moz-box-shadow: inset 0 1px 10px #af393d, 0 1px 0 #dcc9c21a, 0 -1px 0 #f1e4b91a;
  box-shadow: inset 0 1px 10px #af393d, 0 1px 0 #dcc9c21a, 0 -1px 0 #f1e4b91a;
}
.content em strong {
  text-shadow: 1px 1px 2px #af393d;
  color: #331f3e;
}
.content strong {
  text-shadow: 0 0 2px #af393d;
  color: #331f3e;
}
.content blockquote {
  border-left: 0.7em groove dimgray;
  background: transparent;
}

.block {
  margin: 1em 0em 1em 0em;
  padding: 0 4px 4px 4px;
  border-top: 33px solid;
  position: relative;
  overflow-wrap: break-word;
  display: block;
  z-index: -1;
  /* to ensure under sidebar */
  background-color: #f2f2f2;
  color: #af393d;
}
.block:before {
  position: absolute;
  top: -24px;
  left: 12px;
  color: #af393d;
}
.block.ref {
  display: inline-block;
  margin: 1em 0em 1em 1em;
  padding: 1em;
  max-width: 800px;
  position: relative;
  overflow-wrap: break-word;
  border-top: 0px solid;
  background: #af393d;
  color: #f2f2f2;
  border-radius: 2px;
}
.block.ref:before {
  position: absolute;
  top: 0px;
  left: 10px;
}
.block.ref pre {
  margin: 0 0 0 0;
}
.block.ref p {
  margin: 10px 0 0 0;
}
.block.ref code {
  background: #af393d;
  color: #f2f2f2;
  -webkit-box-shadow: inset 0 1px 10px #e0dcdc4d, 0 1px 0 #ffffff1a, 0 -1px 0 #0000001a;
}
.block.ref a, .block.ref a:hover, .block.ref a:visited {
  color: #f2f2f2;
}
.block.ref table, .block.ref th, .block.ref td {
  border: 1px solid #fee7e3;
}
.block.ref strong {
  color: snow;
  text-shadow: 1px 1px 1px lightgray;
}
.block.tip {
  background: #37c7f7;
  border-top-color: #284750;
}
.block.tip:before {
  content: "Tip";
  color: snow;
}
.block.note {
  background: #819cf8;
  border-top-color: #070d1d;
}
.block.note:before {
  content: "Note";
  color: snow;
}
.block.info {
  background: #f8b985;
  border-top-color: #271200;
}
.block.info:before {
  content: "Info";
  color: snow;
}
.block.warn {
  background: #f78e8e;
  border-top-color: #270000;
}
.block.warn:before {
  content: "Warn";
  color: snow;
}

.sidebar.sidebar-rfc9287 {
  color: #fee7e3;
  background-color: #af393d;
}

/*# sourceMappingURL=RFC9287.css.map */
