html,
body {
    color: rgb(17, 0, 7);
}

.sidebar.sidebar-rfc8999 {
    background-color: rgb(17, 0, 7);
}

section.page h1,
section.page h2,
section.page h3,
section.page h4 {
    /* 谨以此配色“致敬”朱蛋挞（周丹泰） */
    border-color: rgb(58, 0, 0);
}

section.page a,
section.page a:hover,
section.page a:visited,
section.page h1 a,
section.page h2 a,
section.page h3 a,
section.page h4 a,
section.page h1 a:hover,
section.page h2 a:hover,
section.page h3 a:hover,
section.page h4 a:hover,
section.page h1 a:visited,
section.page h2 a:visited,
section.page h3 a:visited,
section.page h4 a:visited {
    color: rgb(58, 0, 0);
}
